<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.java.librarymanagement.libraryManagement</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyTotalNumberOfVideos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyIfVideosDisplaysUnderLibraryManagement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>showEntetiesUnderLibraryManagement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginToApplicatoin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyIfLibraryManagementDispaysOnLeftMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNumberOfVideosDisplayingOnFirstPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterclass</td>
<td>&nbsp;</td></tr>
</table>
