<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:46</td>   <td>375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:46</td>   <td>863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:46</td>   <td>898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:47</td>   <td>931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:47</td>   <td>1070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:47</td>   <td>1649</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testBase.afterclass()[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:43</td>   <td>-2999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:46</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:46</td>   <td>377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:46</td>   <td>864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:46</td>   <td>899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:47</td>   <td>933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/09/17 11:37:20</td>   <td>-25921</td> <td>&nbsp;</td><td title="&gt;&gt;testBase.beforeTest()[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/09/17 11:37:43</td>   <td>-2992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="libraryManagement.loginToApplicatoin()[pri:0, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">loginToApplicatoin</td> 
  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/09/17 11:37:46</td>   <td>378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="libraryManagement.showEntetiesUnderLibraryManagement()[pri:2, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">showEntetiesUnderLibraryManagement</td> 
  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/09/17 11:37:46</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="libraryManagement.verifyIfLibraryManagementDispaysOnLeftMenu()[pri:1, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">verifyIfLibraryManagementDispaysOnLeftMenu</td> 
  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/09/17 11:37:46</td>   <td>866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="libraryManagement.verifyIfVideosDisplaysUnderLibraryManagement()[pri:3, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">verifyIfVideosDisplaysUnderLibraryManagement</td> 
  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/09/17 11:37:46</td>   <td>900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="libraryManagement.verifyNumberOfVideosDisplayingOnFirstPage()[pri:4, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">verifyNumberOfVideosDisplayingOnFirstPage</td> 
  <td>main@1663619914</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/09/17 11:37:47</td>   <td>935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="libraryManagement.verifyTotalNumberOfVideos()[pri:5, instance:test.java.librarymanagement.libraryManagement@3d36e4cd]">verifyTotalNumberOfVideos</td> 
  <td>main@1663619914</td>   <td></td> </tr>
</table>
